/*main variable*/
$main-color : #0a0a0a;
$main-shadow : 0px 2px 5px rgba(0, 0, 0, .26);
$sub-color : #b7984c;
$sub-color2 : #c3895d;
$white-color : #ffffff;
$section-margin : 5% 0%;
$main-font : 'Cairo',
sans-serif;
$title-font : 'Changa',
sans-serif;
$sign-font : 'Fasthand',
cursive;



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    -moz-border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: $main-font;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

ul {
    list-style-type: none;
    margin: 0px !important;
    padding: 0px !important;
}

.container {
    max-width: 90% !important;
}


a {
    text-decoration: none !important;
}


/*start Global classes*/
.more-btn {
    background-color: $main-color;
    color: #fff;
    display: block;
    margin: 25px auto !important;
    max-width: 150px;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;

    &:hover {
        color: $white-color;
    }
}


.slick-det {
    background-color: $sub-color;
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-dots li button {
    width: 5px;
    height: 5px;
    background-color: rgb(194, 174, 174);
    border-radius: 50%;
}

.slick-dots {
    bottom: -65px;
}

.breadcrumb-item {
    &::before {
        float: $start !important;
    }
}


.sub-intro {
    background: linear-gradient(#0000002b, #0000005c), url(../images/dna.webp) no-repeat bottom;
    padding: 8% 0%;
    background-size: contain;

    .sub-intro-content {
        display: flex;
        justify-content: space-between;

        h1 {
            color: $white-color;
            font-size: 45px;
            font-weight: bold;
        }
    }

    .breadcrumb {
        background-color: transparent;

        .breadcrumb-item {
            color: $white-color;
            font-size: 18px;
            font-weight: 500;

            &::before {
                margin: 0px 5px !important;
                color: $white-color;
            }

            a {
                color: $white-color;

            }
        }
    }
}

.c-breadcrumb .breadcrumb {
    margin-bottom: 0px !important;
}


.dark-mode {
    background-color: $main-color !important;
    color: $white-color !important;

    h2,
    a,
    h1 {
        color: $white-color !important;
    }

    .c-service-card {
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.36);
    }


    .c-breadcrumb .breadcrumb li a {
        color: $main-color !important;
    }

    .company-clients .c-partners-slider .c-partners-card .c-partners-sub {
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.36);
        margin-top: 15px;
    }

    .c-partners-card .c-partners-sub {
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.36);
    }

    .more-btn {
        background-color: $sub-color;
    }

    .Testimonials-card,
    .team-members,
    .mission {
        background-color: $main-color !important;
        color: $white-color !important;

        p {
            color: $white-color !important;
        }
    }

    .sucess-card {
        box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.36) !important;
    }


    .services-card,
    .team-member-card,
    .ceo-details,
    .ceo,
    .blog-card,
    .process-box {
        background-color: $main-color !important;
        box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.36) !important;

        p {
            color: $white-color !important;
        }
    }

    .sub-pages-container{
        background-image: none;
    }

    .popular-articles {
        h3 {
            color: $white-color;
        }
    
        .popular-article-card {
            .popular-article-link {
                color: $white-color;
                h4 {
                    color: $white-color;
                }
                .article-date {
                    color: $white-color;
                }
            }
        }
    }

    .service-group-intro p {
        color: $white-color;
    }


}

/*end Global classes*/








/*start header*/
header {
    background-color: #0a0a0a;
    height: 12vh;
    min-height: 80px;

    nav {

        .navbar-brand {
            width: 80px;
            height: 80px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .nav-item {
            margin: 0px 10px;

            .nav-link {
                color: #fff !important;
            }
        }

        .navbar-collapse {
            ul {
                margin: auto !important;
            }
        }

        .burger {
            color: #fff !important;
        }

        .dropdown-menu {
            background-color: $main-color;
            border: 1px solid #fff;

            .dropdown-item {
                color: #fff;
            }
        }
    }
}

/*end header*/


/*start main slider*/
.main-nslider {
    height: 80vh;
    min-height: 600px;

    .main-slide {
        height: 100%;
    }

    .main-slideee {
        height: 100%;

        .item {
            background-image: url(../images/slider-bg.webp);
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            min-height: 600px;

            .item-overlay {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 60%;
                height: 450px;

                .item-ologo {
                    width: 150px;
                    height: 150px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                h2 {
                    text-align: center;
                    color: $white-color;
                    margin: 25px 0px;
                    font-weight: bold;
                    color: $sub-color;
                }

                p {
                    color: #fff;
                    text-align: center;
                    width: 90%;
                    font-size: 16px;
                }

            }
        }
    }
}

/*end main slider*/











/*start partners section*/
.partners {
    background-color: $main-color;
    // height: 41vh;
    padding: 3% 0%;

    h2 {
        text-align: center;
        color: #fff;
        margin-bottom: 35px;
        font-weight: bold;
    }

    .partner-card {
        height: 60px;
        width: 60px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            filter: grayscale(1);

            &:hover {
                filter: grayscale(0);
            }
        }
    }
}

/*end partners section*/



/*start about section*/
.about-section {
    background-image: url(../images/about-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 0;
    margin: 60px 0 0;
    height: 450px;

    h2 {
        font-weight: bold;

        &:after {
            content: '';
            display: block;
            width: 60px;
            height: 3px;
            border-radius: 2px;
            background-color: $sub-color;
            margin-top: 5px;
        }
    }

    h5 {
        margin: 15px 0px;
        font-size: 18px;
    }

    .about-img {
        width: 250px;
        height: 200px;
        margin-left: auto;
        margin-top: 45px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    ul {
        li {
            display: flex;
            margin-bottom: 15px;
            font-size: 18px;
            font-weight: 500;

            span {
                border-radius: 50%;
                background-color: $sub-color;
                color: #fff;
                width: 25px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
            }
        }
    }

    .about-secs {
        display: flex;
        flex-wrap: wrap;
        margin-top: 55px;
    }

    .about-sec {
        display: flex;
        width: 48%;
        margin-right: 2%;
        margin-bottom: 35px;

        .about-sec-img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 10px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .about-sec-title {
            h4 {
                color: $sub-color;
                margin-bottom: 2px;
            }

            p {
                max-width: 5px 0px;
            }
        }
    }
}

/*end about section*/



/*start news section*/
.news-section {
    // background-image: url(../images/footerBg.webp);
    background-image: url(../images/ceo-bg1.webp);
    background-size: cover;
    padding: 5% 0% 5% 0%;

    h2 {
        text-align: center;
        color: #fff;
        font-weight: bold;
        margin-bottom: 45px;
    }



    .news-more {
        @extend .more-btn;
        background-color: $sub-color;
    }
}

.news-card {
    display: block;
    width: 100%;
    min-height: 300px;
    box-shadow: 0px 2px 3px 2px rgba(200, 200, 200, 0.26);
    background-color: #fff;
    border-radius: 12px;
    padding: 0px 0px 10px 0px;
    margin-bottom: 15px;

    .news-img {
        height: 60%;
        position: relative;
        overflow: hidden;
        transition: all .5s ease;
        border-radius: 12px 12px 0px 0px;

        .news-img-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(120, 120, 100, 0.46);
        }


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            transition: all .5s ease-in-out;
            display: block;
            border-radius: 12px 12px 0px 0px;
        }

        &:hover img {
            transform: scale(1.45) rotate(-15deg);
        }
    }

    h4 {
        margin: 10px 0px 0px 0px;
        padding: 0px 5px;
        color: #c3895d;
        font-family: $title-font;
        font-weight: 500;
    }

    .news-date {
        display: flex;
        color: $sub-color !important;
        margin: 5px;

        span {
            margin-right: 5px;
        }
    }

    p {
        margin-top: 0px;
        padding: 0 10px 10px 10px;
        color: $main-color;
    }
}

/*end news section*/



/*start services section*/
.services {
    margin: $section-margin;
    padding: 5% 0%;
    // background-image: url(../images/BG2.webp);

    h2 {
        text-align: center;
        color: $sub-color;
        margin-bottom: 45px;
        font-weight: bold;
    }

    .services-card {
        background-color: #fff;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 15px;
        box-shadow: $main-shadow;

        .serv-card-title {
            display: flex;

            span {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                border: 1px solid $sub-color;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
                color: #c3895d;
            }

            h4 {
                color: $sub-color2;
                margin-top: 10px;
            }

            img {
                width: 60px;
                height: 60px;
                margin-right: 10px;
            }
        }

        p{
            color: $main-color
        }
    }

    .news-more{
        @extend .more-btn;
        background-color: $sub-color;
    }
}

/*end services section*/


/*start success section*/
.success-story {
    margin: $section-margin;

    h2 {
        color: $sub-color;
        margin-bottom: 8%;
        font-weight: bold;
    }

    .sucess-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: $main-shadow;
        min-height: 120px;
        position: relative;
        padding-top: 10%;

        span {
            border: 1px solid $sub-color;
            color: $sub-color;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            font-size: 19px;
            position: absolute;
            left: calc(50% - 21px);
            top: -35px;
            background-color: #fff;

        }

        h4 {
            font-weight: bold;
            margin-bottom: 15px;
        }

        h6 {
            font-size: 18px;
            color: $sub-color;
            font-weight: 500;
        }
    }


}

/*end success section*/


/*start Testimonials section*/
.Testimonials {
    background-image: url(../images/ceo-bg1.webp);
    // background-size: cover;
    padding: 5% 0%;

    h2 {
        text-align: center;
        color: #fff;
        font-weight: bold;
    }

    .text-hint {
        text-align: center;
        color: #fff;
    }

    .Testimonials-card {
        background-color: #fff;
        border-radius: 25px;
        padding: 15px;
        height: 300px;
        width: 50%;
        margin: 5% auto;


        .user-info {
            display: flex;
        }

        .user-img {
            width: 75px;
            height: 75px;
            border-radius: 50%;
            margin-right: 15px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .user-title {
            margin-top: 15px;

            h4 {
                margin-bottom: 2px;
            }
        }
    }

    .slick-next {
        right: 10%;
        @extend .slick-det
    }

    .slick-prev {
        left: 10%;
        @extend .slick-det
    }
}

/*end Testimonials section*/


/*start clients section*/
.clients {
    //background-image: url(../images/BG2.webp);
    background-color: $main-color;
    // height: 45vh;
    padding: 5% 0%;

    h2 {
        text-align: center;
        color: #fff;
    }

    .client-card {
        

        img {
            height: 100px;
            width: 200px;
            object-fit: contain;
        }
    }

}

/*end clients section*/

/*start cooprate section*/
.cooprate {
    height: 45vh;
    min-height: 275px;
    padding: 5% 0%;

    h2 {
        color: $sub-color2;
        font-style: oblique;
        font-weight: 600;
        font-size: 50px;
        margin-right: auto;
    }

    p {
        font-size: 25px;
        margin-bottom: 15px;
        font-weight: 500;
    }

    a {
        background-color: #b7984c;
        color: #fff;
        padding: 15px 25px;
        font-weight: bold;
        height: 45px;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        max-width: 150px;
    }

    .cooprate-details {
        display: flex;
        width: 70%;
        justify-content: space-between;
        margin-top: 4%;

    }
}

/*end cooprate section*/

/*start footer*/
footer {
    background-image: url(../images/footerBg.webp);
    background-size: cover;
    padding: 25px 0px;

    .footer-logo {
        width: 150px;
        height: 120px;
        margin-top: 25px;
        display: block;

        img {
            width: 100%;
            height: 100%;
        }
    }

    ul {
        li {
            margin-bottom: 10px;

            a {
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                transition: all .5s ease-in-out;

                &:hover {
                    color: $sub-color;


                }
            }

        }
    }

    h4 {
        color: $sub-color;
        font-weight: bold;
        font-size: 25px;
    }

    .social {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;

        a {
            border: 1px solid #fff;
            border-radius: 50%;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            margin: 0px 5px;
            transition: all ease-in-out .5s;

            &:hover {
                background-color: $sub-color2;
                color: #fff;
                border: 1px solid $sub-color2;
            }
        }
    }
}

/*end footer*/




/*start dna section*/

.company-btn {
    @extend .more-btn;
    background-color: $sub-color;
    border-radius: 25px;
    width: 145px;
    height: 45px;

    &:hover {
        color: #fff !important;
    }

}



.dna {
    background-image: url(../images/companies-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 0;

}

/*end dna section*/



/* Timeline Container */
.timeline {
    margin: 0px auto 0px auto;
    padding: 20px;
    width: 38%;
}

/* Card container */
.card {
    position: relative;
    max-width: 400px;
    border: 0px solid rgba(0, 0, 0, .125);
    background-color: transparent;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
    padding: 30px 0 30px 30px;
}

.card:nth-child(even) {
    padding: 30px 30px 30px 0;
}

/* Global ::before */
.card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid $sub-color;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
    left: 0px;
    top: -5.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
    display: flex;
    flex-direction: column;
    background: #333;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

/* Title of the card */
.title {
    color: $sub-color;
    position: relative;
    text-align: center;
}

/* Timeline dot  */
.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid $sub-color;
    display: none;
}

.process-point-left.process-plus {
    transform: rotate(-106deg);
    z-index: -999;
}

/* text right if the card is even  */
.card:nth-child(even)>.info>.title {
    text-align: center;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd)>.info>.title::before {
    left: -42px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even)>.info>.title::before {
    right: -42px;
}

.dna {
    padding: 5% 0%;
    margin-bottom: 10%;
}

.dna-img {
    width: 100%;
    height: 250px;

    img {
        width: 100%;
        height: 100%;
    }
}




.timeline {
    position: relative;
}

.dnaa-img {
    position: absolute;
    top: -48px;
    left: -4%;
    z-index: 9999;
}

.dnaa-img2 {
    position: absolute;
    bottom: -41px;
    right: -4%;
    z-index: 9999;

    img {
        width: 100px;
        height: 100px;
    }
}


/*start contact page*/
.contact-page {
    padding: 3% 0%;

    .contact-page-title {
        border: 1px solid $sub-color;
        border-radius: 5px;

        padding: 25px;

        h1 {
            font-weight: 500;
            color: $sub-color;
        }

        p {
            color: $main-color;
        }

        .contact-tabs {
            display: flex;
            width: 100%;
            margin-top: 35px;

            .nav-pills {
                width: 30%;
                margin-top: 15px !important;

                li {
                    margin: 5px 0px;

                    a {
                        color: $sub-color !important;
                        font-weight: 500;
                    }
                }

                .nav-link.active {
                    background-color: transparent !important;
                    border-#{$end}: 0px solid $sub-color;
                    border-#{$start}: 1px solid $sub-color;
                    border-top: 1px solid $sub-color;
                    border-bottom: 1px solid $sub-color;
                    color: $sub-color;
                    border-radius: 5px 0px 0px 5px;
                }
            }

            .tab-content {
                width: 100%;

                .contact-tab-content {
                    border: 1px solid $sub-color;
                    padding: 30px 15px;
                    width: 100%;
                    border-radius: 5px;

                    iframe {
                        width: 100%;
                        height: 200px;
                    }

                    h4 {
                        color: $main-color;
                        margin: 21px 0px;
                        font-weight: bold;
                    }

                    .branch-address {
                        display: flex;

                        .branch-address-details {
                            div {
                                display: flex;
                                margin: 0px 0px;

                                h6 {
                                    color: $sub-color;
                                    margin-#{$end}: 10px;

                                }

                                p {
                                    margin-bottom: 5px;
                                    color: $main-color;
                                }

                                a {
                                    color: $main-color;
                                }


                            }
                        }

                        .branch-flag {
                            width: 150px;
                            height: 150px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }

                        .branch-address-details {
                            margin-top: 25px;
                        }
                    }
                }
            }

        }

    }

    .contact-form {
        border: 1px solid $sub-color;
        border-radius: 5px;
        padding: 25px;

        .touch-img {
            width: 100%;
            height: 200px;
            margin-bottom: 15px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        form {

            input,
            textarea {
                margin: 15px 0px;
                border: 1px solid $sub-color !important;
                border-radius: 5px;
            }

            button {
                margin: 25px 0px 10px 0px;
                background-color: $main-color;
                color: #fff;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 45px;


            }
        }
    }

}

/*end contact page*/



/*start group services page*/ 
.service-group-intro{
    padding: 5% 0%;
    h1{
        color: $sub-color;
        position: relative;
        &::after{
            content: "";
            display: block;
            background-color: #000;
            height: 3px;
            width: 100px;
            margin-top: 15px;
        }
        &::before{
            content: "";
            display: block;
            background-color: #000;
            height: 3px;
            width: 100px;
            margin-top: 15px;
            position: absolute;
            top: 44px;
        }
    }

    p{
        color: $main-color;
        margin-top: 25px;
        width: 100%;
        text-align: justify;
    }

    .service-group-intro-img{
        width: 80%;
        height: 350px;
        margin: 15px auto;
        img{
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }
}
/*end group services page*/



/*start about page*/
.team-members {
    background-color: #fff;
    padding: 4%;

    h2 {
        color: $sub-color;
        margin: 25px 0px;
        font-weight: 600;

        &::after {
            content: "";
            background-color: $sub-color;
            width: 80px;
            height: 3px;
            display: block;
            margin: 5px auto;


        }
    }

    .team-item {
        width: 100%;
        height: auto;

        h4 {
            color: $sub-color2;
            font-weight: bold;
            margin: 35px 0px;
        }

        .team-member-card {
            width: 100%;
            height: 300px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, .26);
            border-radius: 5px;
            margin: 15px 0px;
        }

        .team-member-img {
            width: 100%;
            height: 70%;
            transition: all ease-in-out .2s;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                border-radius: 5px 5px 0px 0px;
            }

            .team-member-info {
                opacity: 1;
                position: absolute;
                bottom: 0px;
                right: 0px;
                background-color: #efefef;
                padding: 5px;
                width: 100%;
                display: flex;
                justify-content: space-evenly;

                a {
                    color: $sub-color;
                }
            }
        }

        .team-member-title {
            h5 {
                color: 15px;
                text-align: center;
                font-weight: bold;
                margin: 10px;
            }

            p {
                color: $main-color;
                text-align: center;
                font-weight: 500;

            }
        }
    }
}

.team-member-img:hover .team-member-info {
    opacity: 1 !important;
}

.mission {
    padding: 4%;
    background-color: #efefef;

    .mission-img {
        width: 80%;
        height: 300px;
        margin: 0px auto;

        img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }

    .mission-content {
        h4 {
            color: $sub-color;
            font-weight: 600;

            &::after {
                content: "";
                width: 80px;
                height: 3px;
                background-color: $sub-color;
                margin-top: 10px;
                display: block;
                border: 2px;
            }

        }

        p {
            color: $main-color;
            margin-top: 25px;
            word-spacing: 3px;
        }
    }
}

.ceo {
    background-image: url(../images/ceo-bg8.png);
    background-size: cover;
    min-height: 600px;
    padding: 5% 0%;

    .ceo-details {
        width: 50%;
        min-height: 300px;
        border-radius: 8px;
        background-color: #ede5d6;
        padding: 15px;
        margin: 35px auto;

        .ceo-img {
            width: 125px;
            height: 125px;
            margin: 18px auto;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        h4{
            font-weight: bold;
        }

        h5{
            margin-bottom: 25px;
            font-weight: 600;
            font-size: 18px;
        }

        .ceo-word{
            font-size: 18px;
            position: relative;
            font-weight: 500;

            .quote1{
                position: absolute;
                left: 15px;
                top: -50px;
                width: 35px;
                height: 35px;
            }

            .quote2{
                position: absolute;
                right: 15px;
                bottom: -21px;
                width: 35px;
                height: 35px;
            }

            p{
                padding-bottom: 25px;
            }
        }
    }
}

/*end about page*/





/*start company page*/
.company-header {
    height: auto !important;
    background-color: transparent;

    .campaines-nav {
        width: 100%;
        background-color: $main-color;

        ul {
            display: flex;
            justify-content: center;

            li {
                width: 70px;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 50px;
                    height: 50px;
                }


            }
        }
    }

    .active-link {
        border-radius: 6px;
        background: #a0957b59;
    }

    .company-nav {
        background-color: $sub-color;

        .navbar-brand {
            width: 200px;
            height: 50px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .navbar-nav {
            margin-left: auto !important;
            margin-right: 0px !important;

            .nav-link {
                font-size: 18px;
            }
        }
    }
}

.about-company {
    padding: 5% 0%;
    background-color: #3c3c3b14;

    .about-company-content {
        h1 {
            padding-top: 25px;
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 25px;

            &::after {
                content: "";
                width: 80px;
                height: 3px;
                background-color: $sub-color;
                display: block;
                margin-top: 10px;

            }
        }
    }

    .about-compny-img {
        width: 90%;
        height: 300px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .more-btn {
        margin-#{$end}: auto !important;
        margin-#{$start}: 0px !important;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: $sub-color;
            color: $white-color;
        }
    }


}

.section-title {
    text-align: center;
    color: $main-color;
    margin-bottom: 45px;

    &::after {
        content: "";
        background-color: $sub-color;
        display: block;
        width: 80px;
        height: 3px;
        margin: 10px auto;
    }
}


.c-service-card {
    width: 100%;
    height: 350px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .26);
    margin-bottom: 15px;
    border-radius: 5px;
    border-radius: 5px 5px 0px 0px;

    .c-service-card-img {
        width: 100%;
        height: 50%;
        border-radius: 5px 5px 0px 0px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 5px 5px 0px 0px;
        }
    }

    h4 {
        color: $sub-color;
        margin: 10px auto;
        text-align: center;
        font-weight: 600;
    }

    p{
        margin: 10px auto;
        font-size: 15px;
        text-align: center;
        padding: 0px 10px;
    }

    .c-service-btn {
        border: 1px solid #b7984c;
        padding: 10px 25px;
        display: flex;
        width: 150px;
        height: 35px;
        justify-content: center;
        align-items: center;
        margin: 15px auto;
        border-radius: 5px;
        color: $sub-color;
        transition: all .3s ease-in-out;


        &:hover {
            background-color: $sub-color;
            color: $white-color;
        }
    }
}


.company-services {
    background-color: #3c3c3b14;
    padding: 3% 0%;
}

.c-partners-card .c-partners-sub{
    background-color: $white-color;
    border-radius: 5px;
}

.company-clients {
    padding: 5% 0%;

    .c-partners-slider {
        .c-partners-card {
            .c-partners-sub {
                width: 200px !important;
                height: 100px;
                border-radius: 3px;
                // border: 1px solid $sub-color;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, .26);
                margin: 0px 10px;
                margin: 0px auto;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 25px;
                

                img {
                    width: 150px;
                    height: 70px;
                    display: block;
                    margin: 10px auto;
                }
            }
        }
    }
}

.c-partners-card {
    .c-partners-sub {
        width: 200px !important;
        height: 100px;
        border-radius: 3px;
        // border: 1px solid $sub-color;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, .26);
        margin: 0px 10px;
        margin: 0px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;

        img {
            width: 150px;
            height: 70px;
            display: block;
            margin: 10px auto;
        }
    }
}

.company-slider {

    .company-slider-dets {
        height: 500px;
        width: 100%;

        .c-slider-card {
            background-image: url(../images/companyslider1.webp);
            width: 100%;
            height: 100%;
            display: block;
        }

        .slick-next {
            right: 25px !important;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: rgba(255, 255, 255, .8);
            color: #000;

            &::before {
                color: #000 !important;
            }
        }

        .slick-prev {
            left: 25px !important;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: rgba(255, 255, 255, .8);
            color: #000;
            z-index: 9;

            &::before {
                color: #000 !important;
            }
        }

    }

    .company-slider-img {
        width: 80%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .col-md-6 {
        padding: 0px !important;
    }
}

.company-footer {
    h4 {
        margin-bottom: 25px;
    }

    padding: 5% 0% 0% 0%;

    .company-footer-logo {
        width: 200px;
        height: 150px;

        img {
            width: 250px;
            height: 165px;
        }
    }

    .company-get-touch {
        width: 100%;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .company-social {
            h4 {
                color: $white-color;
                margin-bottom: 15px;
                text-align: center;
                font-size: 22px;
            }

            a {
                color: $sub-color;
            }

            margin-bottom: 15px;
            border-bottom: 1px solid $sub-color;
            padding: 15px 0px 25px 0px;

            .social {
                justify-content: center;

                a {
                    background-color: $sub-color;
                    color: $white-color;
                    border: 1px solid $sub-color;
                }
            }
        }

        .company-social:last-child {
            border: 0px solid transparent;
        }

    }

    .rights {
        background-color: $main-color;
        padding: 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        color: $white-color;

        p {
            margin-bottom: 0px;
        }

        a {
            color: $sub-color;
        }
    }

}

/*end company page*/










/*start company sub pages*/
.c-breadcrumb {
    background-color: #f7f4ec;

    .breadcrumb {
        background-color: transparent;
        padding-right: 35px;
        padding-left: 35px;

        li {
            color: $sub-color;
            font-size: 18px;

            a {
                color: $main-color;
            }
        }
    }
}

.sub-pages-container {
    background-image: url(../images/sub-bg8.webp);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.sp-about {
    padding: 4% 0%;

    p {
        text-align: justify;
        margin-top: 35px;
    }
}

.sp-title {
    color: $main-color;
    margin-bottom: 50px;
    position: relative;

    &::after {
        content: "";
        background-color: $sub-color;
        width: 150px;
        height: 4px;
        display: flex;
        margin: 10px auto 25px auto;
    }

    &::before {
        content: "";
        background-color: $sub-color;
        width: 70px;
        height: 4px;
        display: block;
        margin: 10px auto 25px auto;
        position: absolute;
        bottom: -35px;
        right: 47%;
    }
}

.sp-img {
    width: 80%;
    height: 300px;
    margin: 0px auto;
    margin-#{$start}: auto;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.sp-services-details {
    background-color: transparent;
}

/*end company sub pages*/



/*start blogs apages*/
.article-section {
    .article-img {
        width: 100%;
        height: 300px;
        margin-top: 35px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 3px;
        }
    }

    h1 {
        color: $sub-color;
        margin: 35px 0px;
        font-size: 35px;
        font-weight: 600;
    }

    h5 {
        color: $sub-color;
    }

    h2 {
        font-weight: 600;
        font-size: 32px;
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 25px;
    }
}


.blogs {
    .blogs-select {
        button {
            width: 150px;
            height: 45px;
            background-color: transparent !important;
            color: blue;
        }
    }
}

/*end blogs pages*/








.controls {
    padding: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.control {
    min-width: 150px;
    height: 45px;
    margin: 15px 5px;
    font-size: 15px;
    border-radius: 15px;
    border: 1px solid $sub-color;
    background-color: $main-color;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    color: $sub-color;
    font-weight: 500;
}


.mixitup-control-active {
    background-color: $sub-color;
    color: $main-color;
}






.contain {
    .blog-card {
        margin-bottom: 15px;
        border-radius: 12px;
        box-shadow: 0px 0px 5px rgba(160, 155, 155, 0.9);
        padding: 0px 0px 10px 0px;

        .blog-link {
            width: 100%;
            height: 300px;

            .blog-img {
                width: 100%;
                height: 55%;
                margin-bottom: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 12px 12px 0px 0px;
                }
            }

            h4 {
                text-align: center;
                color: $sub-color;
                padding: 0px 5px;
            }

            p {
                text-align: center;
                margin: 15px 0px;
                text-align: center;
                padding: 0px 5px;
                color: $main-color;
            }
        }

    }
}




/*Menu Buttons*/
#leftmenu {
    display: flex;
    width: 35px;
    height: 100%;
    position: fixed;
    z-index: 20;
    top: 35px;
    right: 10px;
    align-items: center;
}

#leftmenu ul {
    list-style-type: none;
}

.leftnav {
    margin: 8px 0;
    height: 18px;
    width: 18px;
    margin: 15px 0px;
    border-radius: 50%;
    display: inline-block;
    background-color: $sub-color;

}




/*process-box*/
.dnnaa {
    background-image: url(../images/companies-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 0;
}

.process-box {
    background: #fff;
    padding: 10px;
    border-radius: 15px;
    position: relative;
    box-shadow: 2px 2px 7px 0 #00000057;
}

.process-left:after {
    content: "";
    border-top: 15px solid #ffffff;
    border-bottom: 15px solid #ffffff;
    border-left: 15px solid #ffffff;
    border-right: 15px solid #ffffff;
    display: inline-grid;
    position: absolute;
    right: -15px;
    top: 42%;
    transform: rotate(45deg);
    box-shadow: 3px -2px 3px 0px #00000036;
    z-index: -1;
}

.process-right:after {
    content: "";
    border-top: 15px solid #ffffff00;
    border-bottom: 15px solid #ffffff;
    border-left: 15px solid #ffffff;
    border-right: 15px solid #ffffff00;
    display: inline-grid;
    position: absolute;
    left: -15px;
    top: 42%;
    transform: rotate(45deg);
    box-shadow: -1px 1px 3px 0px #0000001a;
    z-index: 1;
}

.process-step {
    background: $sub-color;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    color: #fff;
    height: 100%;
    padding-top: 8px;
    position: relative;
    top: -26px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: -6px 8px 0px 0px #88848414;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100px;
        height: 100px;
        background: #000 !important;
        border-radius: 12px;
    }
}

.process-point-right {
    background: #ffffff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 8px solid $sub-color;
    box-shadow: 0 0 0px 4px #5c5c5c;
    margin: auto 0;
    position: absolute;
    bottom: 40px;
    left: -63px;
}

.process-point-right:before {
    content: "";
    height: 144px;
    width: 11px;
    background: #5c5c5c;
    display: inline-grid;
    transform: rotate(36deg);
    position: relative;
    left: -50px;
    top: -0px;
}

.process-point-left {
    background: #ffffff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 8px solid $sub-color;
    box-shadow: 0 0 0px 4px #5c5c5c;
    margin: auto 0;
    position: absolute;
    bottom: 40px;
    right: -63px;
}

.process-point-left:before {
    content: "";
    height: 144px;
    width: 11px;
    background: #5c5c5c;
    display: inline-grid;
    transform: rotate(-38deg);
    position: relative;
    left: 50px;
    top: 0px;

}

.process-last:before {
    display: none;
}

.process-box p {
    z-index: 9;
}

.process-step p {
    font-size: 20px;
}

.process-step h2 {
    font-size: 39px;
}

.process-step:after {
    content: "";
    border-top: 8px solid #04889800;
    border-bottom: 8px solid $sub-color;
    border-left: 8px solid #04889800;
    border-right: 8px solid $sub-color;
    display: inline-grid;
    position: absolute;
    left: -16px;
    top: 0;
}

.process-step:before {
    content: "";
    border-top: 8px solid #ff000000;
    border-bottom: 8px solid $sub-color;
    border-left: 8px solid $sub-color;
    border-right: 8px solid #ff000000;
    display: inline-grid;
    position: absolute;
    right: -16px;
    top: 0;
}

.process-line-l {
    background: white;
    height: 4px;
    position: absolute;
    width: 136px;
    right: -153px;
    top: 64px;
    z-index: 9;
}

.process-line-r {
    background: white;
    height: 4px;
    position: absolute;
    width: 136px;
    left: -153px;
    top: 63px;
    z-index: 9;
}


.steps-more {
    margin: 10px 0px 15px 0px;
    text-decoration: underline !important;
    color: $main-color;
    font-size: 18px;
    font-weight: 500;
}

.process-box p {
    margin-bottom: 10px;
    font-size: 15px;
}


.process-box h5 {
    font-weight: 600;
}


.scroll-top {
    position: fixed;
    display: none;
    width: 45px;
    height: 45px;
    border-radius: 8px;
    right: 2%;
    bottom: 5%;
    background: #0a0a0a;
    color: #bc9c4d;
    transition: display .5s ease-in-out;
    z-index: 99999;
    border: 1px solid #bc9c4d;
    &:hover{
        color: #bc9c4d;
    }
}

.scroll-show{
    display: flex !important;
    justify-content: center;
    align-items: center;
}


.stickyy {
    position: fixed;
    top: 0;
    height: 12vh;
    width: 100%;
    z-index: 999;
    left: 0;
    border-radius: 0px;
    padding: auto 8%;
    margin-top: 0px;
    background-color: $main-color;

    .navbar-nav {
        justify-content: center !important;
        .nav-item{
            .nav-link{
                padding: 15px !important;
            }
        }
    }

    .navbar-brand{
        margin-left: 55px;
    }
}


.popular-articles {
    margin-top: 35px;
    h3 {
        margin-bottom: 35px;
        font-weight: bold;
    }

    .popular-article-card {
        margin-bottom: 25px;

        .popular-article-link {
            display: flex;
            color: $main-color;

            .popular-article-img {
                width: 80px;
                height: 80px;
                margin-#{$end}: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                }
            }

            h4 {
                padding-top: 5px;
                margin-bottom: 10px;
                color: #092531;
                font-size: 19px;
            }

            .article-date {
                font-size: 14px;
                color: #092531;
            }
        }
    }
}

.service-group-details{
    p{
        font-weight: 600;
        font-size: 24px;
    }
    ul{
        margin: 25px 0px;
        list-style-type: disc  !important;
        li{
            margin: 10px;
            font-size: 17px;
            font-weight: 500;
        }
    }

    
}

.service-company-show{
    .more-btn{
        margin: 25px 0px 25px 0px !important;
    }

    h2{
        color: $sub-color;
        position: relative;
        &::after{
            content: "";
            display: block;
            background-color: #000;
            height: 3px;
            width: 100px;
            margin-top: 15px;
        }
        &::before{
            content: "";
            display: block;
            background-color: #000;
            height: 3px;
            width: 100px;
            margin-top: 15px;
            position: absolute;
            top: 44px;
        }
    }
}

@import "_collection.scss";